@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1D192B;
  color: white;
}

.fill-button {
  padding: 0.5rem;
  background-color: #5662A8;
  border-radius: 0.25rem;
}